
// Displaying intro forms
.form-choice1 {
    position: relative;

    &>:not(.intro-form1) {
        display: none;
    }
}

.form-choice2 {
    position: relative;

    &>:not(.intro-form2) {
        display: none;
    }
}

// Displaying footer forms
.form-choice3 {
    position: relative;

    &>:not(.footer-form1) {
        display: none;
    }
}

.form-choice4 {
    position: relative;

    &>:not(.footer-form2) {
        display: none;
    }
}



.form-box {
    position: relative;
    padding: 30px 20px 20px;
    background: $white;
    box-shadow: 0px 70px 70px rgba(74, 10, 155, 0.25);
    border-radius: 10px;
    margin-bottom: 10px;
    transition: transform .2s;

    &__title {
        font-weight: normal;
        font-size: 24px;
        line-height: 1.17;
        margin-bottom: 23px;
    }

    .step-indicator {
        font-family: poppins-medium;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 10px;
    }

    &.form-switch {
        display: none;
        transform: scaleX(0);
        transition: transform .2s;
    }

    &:before {
        width: 294px;
        height: 317px;
        @extend %absolute-el;
        background-image: url(../assets/coin-desk2.png);
        top: -90px;
        left: -90px;
        z-index: -1;
    }

    &:after {
        display: none;
        width: 284px;
        height: 344px;
        @extend %absolute-el;
        background-image: url(../assets/coin-desk.png);
        top: initial;
        left: initial;
        z-index: -1;
    }
}

.form {
    label {
        display: table;
        clear: both;
        font-family: poppins-medium;
        font-size: 14px;
        line-height: 1;
        color: $dark;
    }

    input {
        width: 100%;
        border: 0;
        outline: 0;
        font-family: poppins-regular;
        font-size: 16px;
        display: block;
        color: #8787B0;
        line-height: 41px;
        border-bottom: 1px solid rgba(18, 17, 66, 0.2);
        margin-bottom: 20px;
        padding-right: 40px;

        &:focus {
            color: $dark;
            background: rgba(18, 17, 66, 0.07);
            box-shadow: inset 0px -1px 0px #3875EF;
            caret-color: $blue;
        }

        &.input-filled,
        &:-webkit-autofill,
        &:-internal-autofill-selected {
            color: $dark !important;
            background-color: transparent !important;
            background-image: url(../assets/check.svg) !important;
            background-repeat: no-repeat !important;
            background-position: calc(100% - 10px), center !important;
        }

        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        input:-webkit-autofill:active {
            appearance: menulist-button;
            background-color: rgb(139, 23, 81) !important;
            background-image: none !important;
            color: -internal-light-dark(black, white) !important;
        }
    }

    .f-l-name {
        display: flex;
        flex-direction: column;
    }

    .phone-box {
        position: relative;

        input {
            padding-left: 70px;
        }

    }

    select {
        -webkit-appearance: none;
        background: transparent;
        padding: 0 23px 0 2px;
        position: absolute;
        bottom: 14px;
        font-family: poppins-regular;
        font-size: 16px;
        line-height: 14px;
        color: $dark;
        background-image: linear-gradient(45deg, transparent 50%, #218EE0 50%), linear-gradient(135deg, #218EE0 50%, transparent 50%), linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
        background-position: calc(100% - 20px) calc(1.3em + 2px), calc(100% - 15px) calc(1.3em + 2px), calc(100% - 2.5em) 0.5em;
        background-position: calc(100% - 18px) 4px, calc(100% - 13px) 4px;
        background-size: 5px 5px, 5px 5px;
        background-repeat: no-repeat;
        border-color: $blue;
    }

    select:focus {
        background-image: linear-gradient(45deg, #218EE0 50%, transparent 50%), linear-gradient(135deg, transparent 50%, #218EE0 50%), linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
        background-position: calc(100% - 13px) 4px, calc(100% - 18px) 4px;
        background-size: 5px 5px, 5px 5px;
        background-repeat: no-repeat;
        border-color: $blue;
        outline: 0;
    }
}

@media screen and (min-width: 768px) {

    .form-box {
        padding: 40px 30px 30px;
        margin-top: 25px;
        max-width: 480px;
        margin-left: auto;
        margin-bottom: 0;

        &:before {
            top: -60px;
        }

        &:after {
            display: block;
            bottom: -165px;
            right: -115px;
        }

        .btn {
            width: 100%;
        }
    }

    .form-choice {
        display: flex;
        width: 100%;
        align-items: flex-end;

        .form-box {
            width: 100%;
            margin-top: auto;
            margin-right: auto;
        }
    }
}

@media screen and (min-width: 1024px) {
    .form div.f-l-name {
        flex-direction: row;
        justify-content: space-between;

        &>* {
            width: calc(50% - 15px);
        }
    }
}

@media screen and (min-width: 1044px) {
    .form-choice2 {
        .form-box_2-2 {
            margin-bottom: calc((100% - 277px - 80px - 104px) / 2); //(total height - form height - title height - text height) / 2
            margin-top: auto;
        }
    }
}



@media screen and (min-width: 1280px) {
    .form-box {
        &:before {
            top: -10px;
        }

        &:after {
            bottom: -245px;
            right: -175px;
        }
    }
}

@media screen and (min-width: 1600px) {
    .form-box {
        max-width: 480px;
        padding: 50px 40px 40px;
        margin-left: auto;

        &:after {
            bottom: -210px;
            right: -215px;
        }

        &__title {
            margin-bottom: 50px;

            br {
                display: none;
            }
        }

        .step-indicator {
            margin-bottom: 20px;
        }
    }

    .form {
        input{
            line-height: 51px;
            margin-bottom: 30px;
        }
        .phone-box {
            margin-bottom: 40px;
        }
        select{
            bottom: 19px;
        }
    }

    .form-choice2 {
        .form-box_2-2 {
            margin-bottom: calc((100% - 344px - 100px - 104px) / 2);
            margin-top: auto;
        }
        .form-box__title{
            margin-bottom: 30px;
        }

    }
}