// COLORS

$white: #ffffff;
$black: #000000;
$dark: #121142;
$dark-blue: #100e61;
$green: #3CD0D9;
$grass-green: #21AD40;
$active-green: #16D462;
$blue: #3875EF;
$orange: #DA6E21;
$light-grey:rgba(18, 17, 66, .25);
$bg-grey: rgba(18, 17, 66, 0.07);
$yellow: #FFD029;
$warning: #EF1A1A;
